.footer {
    background-color: var(--bs-primary);
    height: 12rem;
    padding-top: 1rem;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    min-height: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    .nav-bar {
        margin-top: 2rem;

        .active-page.nav-link {
            color: var(--active-nav-link);
        }

        .nav-link {
            text-decoration: none;
            color: var(--nav-link);
            font-size: large;

            &:hover {
                color: var(--hover-link);
            }

        }
    }

    white-space: pre-wrap;
}



//Mobile friendly
@media only screen and (max-width: 900px) {
    .footer {
        height: 4.5rem;
        font-size: 15px;
    }
}
