html,
body,
div#root,
.page-root {
    height: 100%;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    min-width: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

@media screen {
    .print-only {
        display: none;
    }
}



@media only screen and (max-width: 930px) {
    .page-root {
        font-size: 15px;

        
    }

   .big-previous {
        height: 12rem !important;
        width: 5rem !important;
        background-size: 5rem 12rem !important;
    }

    .small-previous {
        height: 8rem !important;
        width: 8rem !important;
        background-size: 8rem 8rem !important;
        background-position: center center;
    }

    // .service {
    //     height: 5rem !important;
    //     width: 5rem !important;
    //     background-size: 5rem 5rem !important;
    // }
}


@media only screen and (min-width: 930px) {
    .big-previous {
        height: 22rem !important;
        width: 14rem !important;
        background-size: 14rem 22rem !important;
    }

   .small-previous {
        height: 10rem !important;
        width: 10rem !important;
        background-size: 10rem 10rem !important;
        background-position: center center;
   }
}


@media only screen and (min-width: 1400px) {
    .big-previous {
        height: 32rem !important;
        width: 25rem !important;
        background-size: 25rem 32rem !important;
    }

   .small-previous {
        height: 15rem !important;
        width: 15rem !important;
        background-size: 15rem 15rem !important;
        background-position: center center;
   }
}


.custom-link {
    color: white;
    text-decoration: none;
}


.clickable-text {
    font-weight: 700;
}

.clickable-text:hover {
    cursor: pointer;
}

.services {
    margin-left: 8rem;
    margin-right: 8rem;
    z-index: 10;
    // position: relative;
}
  
.service {
    width: 12rem;
    height: 12rem;
    background-size: 12rem 12rem;
    background-repeat: no-repeat;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    filter: saturate(85%);


    .service-text {
        background-color: hsla(0, 0%, 0%, 0.4);
        height: 2rem;
        color: white;
        text-align: center;
        padding-top: .2rem;
        font-size: larger;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.hero-image {
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px rgba(55, 55, 55, 0.559);
    opacity: 70%;
    color: white;

    .hero-text {
        background-color: hsla(0, 0%, 0%, 0.4);
        color: white;
        width: 100%;
        font-size: 5rem;
        height: 100%;
        text-align: center !important;
    }
}

// .move {
//     justify-self: center;
//     display: flex;
// }

.certificates {
    z-index: 10;
    position: relative;
}


.haircutting {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 8rem;
}