html,
body,
div#root,
.page-root {
    height: 100%;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    min-width: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

@media screen {
    .print-only {
        display: none;
    }
}



@media only screen and (max-width: 930px) {
    .page-root {
        font-size: 15px;
    }

   .big-previous {
        height: 17rem !important;
        width: 10rem !important;
        background-size: 10rem 17rem !important;
    }

    .small-previous {
        height: 8rem !important;
        width: 8rem !important;
        background-size: 8rem 8rem !important;
        background-position: center center;
    }

    .service {
        height: 5rem !important;
        width: 5rem !important;
        background-size: 5rem 5rem !important;

        .service-text {
            background-color: hsla(0, 0%, 0%, 0.4);
            height: 1.2rem !important;
            color: white;
            text-align: center;
            font-size: large;
            padding-top: 0 !important;
            margin-bottom: .2rem !important;
        }
    }

    .home-box {
        height: 78rem !important;
        width: 90%;
        background-color: var(--highlight-color);
        background-image: linear-gradient(to bottom, var(--bs-body-bg) 9%, rgba(0,0,0,0) 9%) !important;
    }

    .service-image {
        height: 10rem !important;
        width: 10rem !important;
        background-size: contain !important;
        background-position: center center;
        margin: 0 !important;
    }

    .haircutting-box {
        height: 42rem !important;
        width: 90%;
        background-color: var(--highlight-color);
        background-image: linear-gradient(to bottom, var(--bs-body-bg) 15%, rgba(0,0,0,0) 15%) !important;
    }

    .small-color {
        height: 6rem !important;
        width: 6rem !important;
        background-size: contain !important;
        background-position: center center;
    }

    .color-section {
        font-size: small;
    }

    .color-box {
        height: fit-content !important;
        padding-bottom: 2rem;
        width: 100%;
        background-color: var(--bs-body-bg);
        background-image: linear-gradient(to right, var(--secondary-highlight-box) 2.5%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%, var(--secondary-highlight-box) 97.5%),
    }

    .treatment-image {
        height: 8rem !important;
        width: 8rem !important;
        background-size: contain !important;
        background-position: center center;
    }

    .treatments-box {
        height: fit-content !important;
        width: 95%;
        background-color: var(--highlight-color);
    }

    .styling-image {
        height: 7rem !important;
        width: 7rem !important;
        background-size: contain !important;
        background-position: center center;
    }
}


@media only screen and (min-width: 930px) {
    .big-previous {
        height: 22rem !important;
        width: 14rem !important;
        background-size: 14rem 22rem !important;
    }

   .small-previous {
        height: 10rem !important;
        width: 10rem !important;
        background-size: 10rem 10rem !important;
        background-position: center center;
   }

   .hero-image {
    height: 15rem;
   }

   .service {
        height: 9rem !important;
        width: 9rem !important;
        background-size: 9rem 9rem !important;
    }

    .service-image {
        height: 20rem !important;
        width: 20rem !important;
        background-size: contain !important;
        background-position: center center;
        margin: 0 !important;
    }

    .home-box {
        height: 70rem !important;
        width: 90%;
        background-color: var(--highlight-color);
        background-image: linear-gradient(to bottom, var(--bs-body-bg) 13%, rgba(0,0,0,0) 13%) !important;
    }

    .haircutting-box {
        min-height: fit-content;
        width: 90%;
        background-color: var(--highlight-color);
        background-image: linear-gradient(to bottom, var(--bs-body-bg) 13%, rgba(0,0,0,0) 13%) !important;
    }

    .color-box {
        height: 40rem !important;
        width: 100%;
        background-color: var(--bs-body-bg);
        background-image: linear-gradient(to right, var(--secondary-highlight-box) 2.5%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%, var(--secondary-highlight-box) 97.5%),
    }

    .treatments-box {
        height: fit-content !important;
        width: 95%;
        background-color: var(--highlight-color);
    }
}


@media only screen and (min-width: 1400px) {
    .big-previous {
        height: 32rem !important;
        width: 25rem !important;
        background-size: 25rem 32rem !important;
    }

   .small-previous {
        height: 15rem !important;
        width: 15rem !important;
        background-size: 15rem 15rem !important;
        background-position: center center;
   }

   .service {
        height: 12rem !important;
        width: 12rem !important;
        background-size: 12rem 12rem !important;
    }

    .service-image {
        height: 28rem !important;
        width: 28rem !important;
        background-size: contain !important;
        background-position: center center;
        margin: 0 !important;
    }

    .home-box {
        height: 50rem;
        width: 90%;
        background-color: var(--highlight-color);
        background-image: linear-gradient(to bottom, var(--bs-body-bg) 15%, rgba(0,0,0,0) 15%);
    }

    .haircutting-box {
        height: 58rem !important;
        width: 90%;
        background-color: var(--highlight-color);
        background-image: linear-gradient(to bottom, var(--bs-body-bg) 15%, rgba(0,0,0,0) 15%) !important;
    }

    .color-box {
        height: 40rem !important;
        width: 100%;
        background-color: var(--bs-body-bg);
        background-image: linear-gradient(to right, var(--secondary-highlight-box) 2.5%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%, var(--secondary-highlight-box) 97.5%),
    }

    .treatments-box {
        height: fit-content !important;
        width: 95%;
        background-color: var(--highlight-color);
    }
}

.home-box {
    height: 70rem;
    width: 90%;
    background-color: var(--highlight-color);
    background-image: linear-gradient(to bottom, var(--bs-body-bg) 15%, rgba(0,0,0,0) 15%);
}

.haircutting-section {
    max-width: fit-content;
}

.saturation {
    filter: saturate(85%);
}


.custom-link {
    color: white;
    text-decoration: none;
}


.clickable-text {
    font-weight: 700;
}

.clickable-text:hover {
    cursor: pointer;
}

.services {
    margin-left: 8rem;
    margin-right: 8rem;
    z-index: 10;
    // position: relative;
}
  
.service {
    width: 12rem;
    height: 12rem;
    background-size: 12rem 12rem;
    background-repeat: no-repeat;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    filter: saturate(85%);


    .service-text {
        background-color: hsla(0, 0%, 0%, 0.4);
        height: 2rem;
        color: white;
        text-align: center;
        padding-top: .2rem;
        font-size: larger;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.hero-image {
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px rgba(55, 55, 55, 0.559);
    opacity: 70%;
    color: white;

    .hero-text {
        background-color: hsla(0, 0%, 0%, 0.4);
        color: white;
        width: 100%;
        font-size: 5rem;
        height: 100%;
        text-align: center !important;
    }
}

.certificates {
    z-index: 10;
    position: relative;
}


.haircutting {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 8rem;
}

.dropdown-menu {
    color: white;
}

.product {
    // border: .1rem solid var(--bs-body-color);
    padding: 1rem;
    margin: 1rem;
    text-wrap: wrap;
    max-width: min-content;
    box-shadow: 0px 5px 15px rgba(55, 55, 55, 0.163);
    height: 18rem;
    padding-top: 2rem;

    &:hover {
        transform: scale(1.1);
    }
}