$bs-body-color: white;
$nav-link: white;
$bs-primary: #323A3E;
$bs-body-bg: #5D6E78;
$active-nav-link: #bce5fa;
$hover-link: #a5e1ff;
$highlight-box: #323a3e;
$secondary-highlight-box: #778B96;
$extra-dark: #2A3034;