// $nav-link: #2e1460;
// $active-nav-link: #6c29e8;
// $hover-link: #430fa4;
// $highlight-box: #B968A7;
// $secondary-highlight-box: #FFDDF7;
// $extra-dark: #A95797;



$bs-body-color: white;
$nav-link: white;
$bs-primary: #323A3E;
$bs-body-bg: #5D6E78;
$active-nav-link: #bce5fa;
$hover-link: #a5e1ff;
$highlight-box: #323a3e;
$secondary-highlight-box: #778B96;
$extra-dark: #2A3034;